body {
  background-image: url("../img/wallpaper.jpg");
  background-repeat: no-repeat;
}

h1 {
  font-family: Georgia, serif;
  font-size: 60px;
  text-align: center;
}

h2 {
  font-family: helvetica, sans-serif;
  margin-bottom: 10px;
}

h4, label {
  font-family: Georgia, serif;
}

.form-control {
  width: 60%;
}

p {
  font-size: 20px;
}

.container {
  opacity: .9;
  background-color: lightgreen;
  width: 900px;
  margin-top: 50px;
  padding-bottom: 20px;
}

#deliveryInfo {
  font-size: 16px;
  font-style: italic;
  text-align: center;
}

#orderForm {
  padding-left: 230px;
}

#output {
  display: none;
  padding: 70px;
}
