body {
  background-image: url("../img/wallpaper.jpg");
  background-repeat: no-repeat;
}

h1 {
  font-family: Georgia;
  font-size: 60px;
  text-align: center;
}

.container {
  opacity: .9;
  background-color: lightgreen;
  margin-top: 100px;
}

#output {
  display: none;
  padding: 70px;
}
